@using Epam.UsersAwards.JsonDAL;
@using Epam.UsersAwards.Dependences;
@using Epam.UsersAwards.Entities;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var bll2 = DependencyResolver.GetInstance().AwardLogic;

    Guid awardId = Guid.Parse("4b1a7333-0b21-40d3-8e56-450128ee2002");

    if (IsPost)
    {
        awardId = Guid.Parse(Request["awardId"]);
        bll2.RemoveAward(awardId);
        Response.Redirect("~/index.cshtml");
    }
}
<form method="POST">
    <br />
    <small id="description" class="form-text text-muted">Введите ID награды для её удаления</small>
    <div class="form-group">
        <label for="exampleInputEmail1">Award ID</label>
        <input name="awardId" type="text" class="form-control" placeholder="Enter user ID" value="@awardId">
    </div>
    <button name="test" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete award
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you wanna delete this award from all users?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete award</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    myModal.addEventListener('shown.bs.modal', function () {
        test.focus()
    })
</script>
